<body style="font-family: 'futura-light'; font-size: 1.3em;">
    <div style="text-align: center;">
      <h1> Edit A Tombstone </h1>
    </div>
    <div style="padding-left: 10%;">
      <%= form_for @tombstone, url: tombstone_path(@tombstone), method: 'put', validate: true do |f| %>
        <% if @tombstone.acquiror_logo.exists? %>
          <%= image_tag @tombstone.acquiror_logo.url(:thumb) %>
        <% end %>
        <%=f.file_field :acquiror_logo %>
        <br>
        <%=f.label "Middle Text Bar (ex: ACQUIRED:)" %>
        <%=f.text_field :acquired_text %>
        <br>
        <% if @tombstone.acquired_logo.exists? %>
          <%= image_tag @tombstone.acquired_logo.url(:thumb) %>
        <% end %>
        <%=f.file_field :acquired_logo %>
        <br>
        <%=f.label "Year of Transaction:" %>
        <%=f.text_field :year %>
        <br>
        <%=f.label "Represented By:" %>
        <%=f.text_field :representation %>
        <br>
        <%=f.label "Bottom Text (ex: Conducted through)" %>
        <%=f.text_field :conducted_text %>
        <br>
        <div style="padding-top: 2%;">
            <%=f.submit "Edit Tombstone", :class => 'button'  %>
        </div>
      <% end %>
    </div>
</body>